@import "_partials/reset";
@import "_partials/hero-section";
@import "_partials/skills-section";

:root {
  --main-color: #2b4141;
  --accent-color: #0eb1d2;
  --light-color: #f0c808;
  --pumpkin: #fe7f2d;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  padding: 9.6rem 0;
}
